PORT=3000

NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=
NEO4J_DATABASE=neo4j

NODE_ENV=development
ALLOW_DATABASE_RESET=false

SEED_DEFAULT_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=15m
